@using EndProject.Models.ViewModels.Component;
@model HeaderVM

<header class="main-header">
    <div class="header-top">
        <div class="auto-container">
            <div class="inner clearfix">
                <div class="top-left clearfix">
                    <ul class="info clearfix">
                        <li><i class="icon fa fa-envelope"></i> <a >@Model.Settings["HeaderMail"]</a></li>
                        <li><i class="icon fa fa-phone-circle"></i> <a >@Model.Settings["HeaderNumber"]</a></li>
                    </ul>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="top-right clearfix">
                        
                        <div class="login"><i class="icon fa fa-user"></i> <a >@User.Identity.Name</a></div>
                        <div class="login"><i></i> <a asp-controller="Account" asp-action="Logout">Log Out</a></div>

                    </div>
                }
                else
                {
                    
                <div class="top-right clearfix">

                    <div class="login"><i class="icon fa fa-user"></i> <a asp-controller="Account" asp-action="Login">SIGN IN</a></div>
                </div>
                }

            </div>
        </div>
    </div>
    <!-- Header Upper -->
    <div class="header-upper">
        <div class="auto-container">
            <!-- Main Box -->
            <div class="main-box clearfix">
                <!--Logo-->
                <div class="logo-box">
                    <div class="logo" ><a asp-controller="Dashboard" asp-action="Index" asp-area="Manage" title="Treker"><img src="~/assets/images/logo.svg" alt="" title="Treker"></a></div>
                </div>

                <div class="nav-box clearfix">
                    <!--Nav Outer-->
                    <div class="nav-outer clearfix">
                        <nav class="main-menu">
                            <ul class="navigation clearfix">
                                <li class="current dropdown">
                                    <a asp-controller="Home" asp-action="Index">Home</a>

                                </li>
                                <li class="dropdown">
                                    <a asp-controller="OurTeam" asp-action="Index">About Us</a>
                                    <ul>
                                        <li><a asp-controller="FAQs" asp-action="Index">FAQ</a></li>
                                        <li><a asp-controller="Gallery" asp-action="Index">Gallery</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a asp-controller="OurShop" asp-action="Index">Shop</a>
                                    <ul>
                                        <li><a asp-controller="Wishlist" asp-action="Index">My Wishlist</a></li>
                                        <li><a asp-controller="Cart" asp-action="Index">Shopping Cart</a></li>
                                    </ul>
                                </li>
                                <li><a asp-controller="Destinations" asp-action="Index">Destinations</a></li>
                                <li><a asp-controller="Trekking" asp-action="Index">Trekking</a></li>
                                <li class="dropdown">
                                    <a href="#">Pages</a>
                                    <ul>
                                        <li><a asp-controller="Booking" asp-action="Index">Booking</a></li>
                                        <li><a asp-controller="TermsAndConditions" asp-action="Index">Terms & Conditions</a></li>
                                    </ul>
                                </li>
                            
                                <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
                            </ul>
                        </nav>
                        <!-- Main Menu End-->
                    </div>
                    <!--Nav Outer End-->

                    <div class="links-box clearfix">
                        <div class="link cart-btn"><a href="~/assets/#" class="clearfix"><div class="cart-info"><span class="icon far fa-shopping-cart"></span>@Model.Basket.Dress.Sum(d=>d.Count) Items</div><div class="amount">$@Model.Basket.TotalPrice</div></a></div>
                    </div>
                    <!-- Hidden Nav Toggler -->
                    <div class="nav-toggler">
                        <button class="hidden-bar-opener"><span class="icon"><img src="~/assets/images/icons/menu-icon.svg" alt=""></span></button>
                    </div>
                </div>
                <!-- End Header Upper -->
            </div>
        </div>
    </div>
</header>

<!--End Main Header -->
<!--Search Backdrop-->
<div class="search-backdrop"></div>


<!--Menu Backdrop-->
<div class="menu-backdrop"></div>

<!-- Hidden Navigation Bar -->
<section class="hidden-bar">
    <!-- Hidden Bar Wrapper -->
    <div class="hidden-bar-wrapper">
        <div class="hidden-bar-closer"><span class="icon"><svg class="icon-close" role="presentation" viewBox="0 0 16 14"><path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="none" fill-rule="evenodd"></path></svg></span></div>
        <div class="nav-logo-box">
            <div class="logo"><a href="index.html" title="Treker"><img src="~/images/logo.svg" alt="" title="Treker"></a></div>
        </div>
        <!-- .Side-menu -->
        <div class="side-menu">
            <ul class="navigation clearfix">
                <li class="current dropdown">
                    <a href="index.html">Home</a>
                    <ul>
                        <li><a href="index.html">Home 01</a></li>
                        <li><a href="index-2.html">Home 02</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="about.html">About Us</a>
                    <ul>
                        <li><a href="team.html">Our Team</a></li>
                        <li><a href="team-member.html">Team Member</a></li>
                        <li><a href="faq.html">FAQs</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="shop.html">Shop</a>
                    <ul>
                        <li><a href="shop.html">Our Shop</a></li>
                        <li><a href="product-single.html">Product Details</a></li>
                        <li><a href="wishlist.html">My Wishlist</a></li>
                        <li><a href="shopping-cart.html">Shopping Cart</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                        <li><a href="signup.html">Signup</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="reset-password.html">Forgot Password</a></li>
                    </ul>
                </li>
                <li><a href="destinations.html">Destinations</a></li>
                <li><a href="trekking.html">Trekking</a></li>
                <li class="dropdown">
                    <a href="#">Pages</a>
                    <ul>
                        <li><a href="activities.html">Activities</a></li>
                        <li><a href="destinations-2.html">Destinations 02</a></li>
                        <li><a href="tours.html">Tours</a></li>
                        <li><a href="packages.html">Packages 01</a></li>
                        <li><a href="packages-2.html">Packages 02</a></li>
                        <li><a href="booking.html">Booking</a></li>
                        <li><a href="terms-conditions.html">Terms & Conditions</a></li>
                        <li><a href="error-page.html">404 Page</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="blog.html">News</a>
                    <ul>
                        <li><a href="blog.html">Our Blog</a></li>
                        <li><a href="blog-2.html">Blog Classic</a></li>
                        <li><a href="blog-single.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div><!-- /.Side-menu -->

        <div class="links-box clearfix">
            <div class="clearfix">
                <div class="link"><a href="login.html" class="theme-btn btn-style-one"><span>Login<i class="icon far fa-angle-right"></i></span></a></div>
                <div class="link"><a href="signup.html" class="theme-btn btn-style-two"><span>Sign Up<i class="icon far fa-angle-right"></i></span></a></div>
            </div>
        </div>

    </div><!-- / Hidden Bar Wrapper -->
</section>
<!-- / Hidden Bar -->

<div class="cart-backdrop"></div>
<!--Cart Sidebar-->
<div class="cart-sidebar">
    <div class="cart-side-inner">
        <div class="cart-side-header">
            <div class="closer-btn"><span>Close</span></div>
            <h5>Shopping Cart</h5>
        </div>
        @foreach (var item in (Model.Basket.Dress ?? new List<ProductBasketItemVM>()))
        {
            
        <div class="prod-box">
            <div class="prod-block">
                <div class="prod-inner">
                        <div class="prod-thumb"><a href="#"><img src="~/assets/images/product/@item.Product.ProductImages?.FirstOrDefault(pi=>pi.IsPrimary == true)?.ImageUrl" alt=""></a></div>
                    <div class="remove-item" ><a asp-controller="Home" asp-action="RemoveItem" asp-route-Id="@item.Product.Id"><i class="far fa-times"></i></a></div>
                    <div class="prod-title"><a href="#"> @item.Product.Title</a></div>
                    <div class="calculations">@item.Count x <span>@item.Count x $@item.Product.SellPrice</span></div>
                </div>
            </div>
        </div>
        }
    </div>
    <div class="lower-content">
        <div class="count clearfix">
            <span class="ttl">Subtotal</span>
            <span class="dtl">$@Model.Basket.TotalPrice</span>
        </div>
        <div class="links clearfix">
            <div class="left"><a asp-controller="Cart" asp-action="Index" class="theme-btn btn-style-one"><span>View Cart</span></a></div>
        </div>
    </div>
</div>



