
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BookingVM

<!-- Banner Section -->
<section class="inner-banner">
    <div class="image-layer" style="background-image: url('https://themeim.com/demo/treker/images/background/banner-image-1.jpg');"></div>
    <div class="auto-container">
        <div class="content-box">
            <h2>Booking</h2>
            <div class="bread-crumb">
                <ul class="clearfix">
                    <li><span class="icon-home fa fa-home"></span><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="current">Booking</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End Banner Section -->
<!--Booking Section-->
<section class="booking-section">
    <div class="floated-icon left"><img src="~/assets/images/resource/stones-left.svg" alt="" title=""></div>
    <div class="floated-icon right"><img src="~/assets/images/resource/stones-right-3.svg" alt="" title=""></div>
    <div class="auto-container">
        <div class="title-box centered">
            <h2><span>Book This Tour</span></h2>
            <div class="text">Contact us and get strapped in for a better adventure experience in your life-time. Just look for opportunity to be with nature. </div>
        </div>
        <div class="form-box site-form">
            <div class="booking-form">
                <form method="post" asp-action="BookingPost">
                    <div class="row clearfix">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <div class="f-label">Your Name <i>*</i></div>
                            <div class="field-inner">
                                <input asp-for="FullName" placeholder="" required>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <div class="f-label">Your Email <i>*</i></div>
                            <div class="field-inner">
                                <input asp-for="Email" placeholder="" required>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <div class="f-label">Your Phone <i>*</i></div>
                            <div class="field-inner">
                                <input asp-for="Phones" placeholder="" required>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <div class="f-label">Tour <i>*</i></div>
                            <div class="field-inner">
                                <select asp-for="TourId" asp-items="@ViewBag.Tours" required>
                                    <option selected disabled value="0">Select Tour</option>
                                  
                                </select>
                                <span class="alt-icon far fa-angle-down"></span>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <div class="f-label">Trekking <i>*</i></div>
                            <div class="field-inner">
                                <select asp-for="TrekkingId" asp-items="ViewBag.Trekkings" required>
                                    <option selected disabled value="0">Select Trekkings</option>
                                   
                                </select>
                                <span class="alt-icon far fa-angle-down"></span>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <div class="f-label">Date From <i>*</i></div>
                            <div class="field-inner">
                                <input asp-for="date"  placeholder="" required>
                                <span class="alt-icon fal fa-calendar fa-fw"></span>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <div class="f-label">Number of Guest <i>*</i></div>
                            <div class="field-inner">
                                <input asp-for="guestNumber" placeholder="" required>
                            </div>
                        </div>
                        
                        
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <button type="submit" class="theme-btn btn-style-two"><span>Submit Now<i class="icon far fa-angle-right"></i></span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
@*
<!--FAQs Section-->
<section class="faq-one alternate">
    <div class="floated-icon left"><img src="~/assets/images/resource/floated-icon-right-2.svg" alt="" title=""></div>
    <div class="floated-icon right"><img src="~/assets/images/resource/stones-right-3.svg" alt="" title=""></div>
    <div class="auto-container">
        <div class="title-box centered">
            <h2><span>Get Some Important Answer</span></h2>
        </div>
        <div class="row clearfix">
            <!--Text Col-->
            <div class="text-col col-lg-6 col-md-12 col-sm-12">
                <div class="inner wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="0ms">
                    <div class="accordion-box clearfix">
                        <!--Block-->
                        @for (int i = 0; i < (Model.MostAnswers.Count() / 2); i++)
                        {

                            <div class="accordion block active-block">
                                <div class="acc-btn active">@Model.MostAnswers[i].Title <i class="fa-regular fa-angle-down"></i></div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">@Model.MostAnswers[i].Description</div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <!--Text Col-->
            <div class="text-col col-lg-6 col-md-12 col-sm-12">
                <div class="inner wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="0ms">
                    <div class="accordion-box clearfix">
                        <!--Block-->
                        @for (int i = Model.MostAnswers.Count() / 2; i < Model.MostAnswers.Count(); i++)
                        {
                            <div class="accordion block active-block">
                                <div class="acc-btn active">@Model.MostAnswers[i].Title <i class="fa-regular fa-angle-down"></i></div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">@Model.MostAnswers[i].Description</div>
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Sponsors Section-->
<section class="sponsors-one">
    <div class="auto-container">
        <div class="carousel-box">
            <div class="sponsors-carousel owl-theme owl-carousel">
                <!--Block-->
                @foreach (var item in Model.Brands)
                {

                    <div class="sponsor-block">
                        <div class="inner-box">
                            <div class="image"><a href="~/assets/#"><img src="~/assets/images/brand/@item.ImageUrl" alt=""></a></div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
*@
