@model HomeVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner Section -->
<section class="inner-banner">
    <div class="image-layer" style="background-image: url('https://themeim.com/demo/treker/images/background/banner-image-1.jpg');"></div>
    <div class="auto-container">
        <div class="content-box">
            <h2>Shop</h2>
            <div class="bread-crumb">
                <ul class="clearfix">
                    <li><span class="icon-home fa fa-home"></span><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="current">Shop</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End Banner Section -->
<!--Products Section-->
<section class="products-section products-page">
    <div class="floated-icon left"><img src="images/resource/stones-left.svg" alt="" title=""></div>
    <div class="floated-icon right"><img src="images/resource/stones-right.svg" alt="" title=""></div>
    <div class="floated-icon right-2"><img src="images/resource/plant-icon.svg" alt="" title=""></div>
    <div class="auto-container">

        <div class="title-box centered">
            <h2><span>Featured Trekking Products</span></h2>
            <div class="text">Since 2014, we’ve helped more than 500,000 people of all ages enjoy the best outdoor experience of their lives. Whether it’s for one day or a two-week vacation, close to home or a foreign land.</div>
        </div>

        <div class="filters-row clearfix">
        
        </div>


        <div class="row clearfix">
            <!--Block-->
       

            @foreach (var item in Model.Products)
            {
                <div class="prod-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="why-block">
                            <div class="image-box">
                                <div class="image"><a href="~/assets/#"><img src="~/assets/images/product/@item.ProductImages?.FirstOrDefault(pi=>pi.IsPrimary == true)?.ImageUrl" alt=""></a></div>
                                <div class="hvr-box">
                                    <div class="hvr-inner">
                                        <div class="hvr-content">
                                            <div class="link"><a asp-controller="Home" asp-action="AddBasket" asp-route-Id="@item.Id" class="theme-btn"><i class="far fa-shopping-cart"></i> Add To Basket</a></div>
                                            <div class="link"><a asp-controller="ProductDetails" asp-action="ProductDetail" asp-route-id="@item.Id" class="theme-btn"><i class="far fa-bars"></i> Details</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="add-fav"><a asp-controller="OurShop" asp-action="WishList" asp-route-Id="@item.Id" class="theme-btn"><i class="far fa-heart"></i></a></div>
                            </div>
                            <div class="lower-box">
                                <h5><a href="~/assets/#">@item.Title</a></h5>
                                <div class="price"><span>$ @item.CostPrice</span></div>
                            </div>
                        </div>

                    </div>
                </div>
            }

        </div>

    </div>
</section>


