@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model HomeVM



    <!-- Banner Section -->
    <section class="inner-banner">
    <div class="image-layer" style="background-image: url('https://themeim.com/demo/treker/images/background/banner-image-1.jpg');"></div>
        <div class="auto-container">
            <div class="content-box">
                <h2>Shop Details</h2>
                <div class="bread-crumb">
                    <ul class="clearfix">
                        <li><span class="icon-home fa fa-home"></span><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="current">Shop Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--End Banner Section -->

    <!-- product-details -->
    <section class="product-details">
        <div class="auto-container">
            <div class="basic-details">
                <div class="row clearfix">
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner">
                            <div class="carousel-box">
                                <div class="slider-box">
                                    <div class="shop-single-carousel" id="shop-single-carousel">
                                        <!--Slide Block-->
                                        @foreach (var item in Model.Product.ProductImages)
                                    {
                                        <div class="slide-block">
                                            <div class="inner-box">
                                                <div class="image"><img src="~/assets/images/product/@item.ImageUrl" alt=""></div>
                                            </div>
                                        </div>
                                    }
                                        

                                    </div>
                                </div>
                        
                            </div>
                        </div>
                    </div>
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="product-details-content">
                           @* <div class="avail"><span>In Stock</span></div>*@
                            <h4>@Model.Product.Title</h4>
                           
                            <div class="item-price"><span>$@Model.Product.CostPrice</span></div>
                            <div class="share"><a href="~/assets/shop-single.html"><i class="flaticon-share-1"></i></a></div>
                            <div class="text">@Model.Product.Description.Substring(0,Model.Product.Description.Length / 2)</div>
                            <div class="color-range clearfix">
                                <div class="c-title">Color :   

                                       @foreach (var item in Model.Product.ProductColors)
                                {
                                    <a >@item.Color.Name</a>
                                }
                                </div>
                      
                            </div>
                            <div class="other-options clearfix">
                              
                                <div class="link-box">
                                    <button type="button" class="theme-btn btn-style-two"><span><i class="far fa-shopping-cart"></i> &ensp; Add To Cart</span></button>
                                    <button type="button" class="theme-btn add-wishlist"><span><a class="far fa-heart"></a> &ensp; Add to wishlist</span></button>
                                </div>
                            </div>
                            <div class="product-cat"><strong>Categories :</strong> 
                                @foreach (var item in Model.Product.ProductCategories)
                            {
                                
                                <a >@item.Category.Name</a>
                            }
                        </div>
                            <div class="product-cat tags"><strong>Tags :</strong>
                                @foreach (var item in Model.Product.ProductTags)
                            {
                                
                                     <a >@item.Tag.Name</a>
                            }
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-description">
                <div class="tabs-box">
                    <div class="tab-btn-box centred">
                        <ul class="tab-btns tab-buttons">
                            <li class="tab-btn active-btn" data-tab="#tab-1">Description</li>
                           
                        </ul>
                    </div>
                    <div class="tabs-content">
                        <div class="tab active-tab" id="tab-1">
                            <div class="text text-content">
                                <h5>Product Description</h5>
                                <p>@Model.Product.Description</p>
                                <h5>Product Features</h5>
                                <ul>
                                    @foreach (var item in Model.Product.ProductFeatures)
                                {
                                    
                                    <li>@item.PFeature.Title</li>
                                }
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="tab" id="tab-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product-details end -->


